{% extends 'base.html' %}
{% load static %}
{% block content %}


{% if user.is_authenticated %}
<h3 class="booking-h">Reserve your table at Sapore Di Mare</h3>
<div class="picker-table">
  <div class="datepicker-container">

    <div class="datepicker">
      <!-- .datepicker-header -->
      <div class="datepicker-header">
        <button class="prev">Prev</button>

        <div>
          <select class="month-input">
            <option>January</option>
            <option>February</option>
            <option>March</option>
            <option>April</option>
            <option>May</option>
            <option>June</option>
            <option>July</option>
            <option>August</option>
            <option>September</option>
            <option>October</option>
            <option>November</option>
            <option>December</option>
          </select>
          <input type="number" class="year-input" />
        </div>

        <button class="next">Next</button>
      </div>
      <!-- /.datepicker-header -->

      <!-- .days -->
      <div class="days">
        <span>Sun</span>
        <span>Mon</span>
        <span>Tue</span>
        <span>Wed</span>
        <span>Thu</span>
        <span>Fri</span>
        <span>Sat</span>
      </div>
      <!-- /.days -->

      <!-- .dates -->
      <div class="dates"></div>
      <!-- /.dates -->

      <!-- .datepicker-footer -->
      <div class="datepicker-footer">
        <button class="apply">Apply</button>
      </div>
      <!-- /.datepicker-footer -->
    </div>
  </div>
  <div class="table">
    <p>{{ booking.seats }}</p><p>{{ booking.time }}</p>
  </div>
</div>

{% else %}
<p>Log in to reserve a table</p>
{% endif %}
</div>
</div>

{% endblock %}

{% block extras %}
<script src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}