@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Kaushan+Script&family=Shadows+Into+Light&display=swap');

.logo {
    font-family: "Italiana", serif;
    font-size: 4rem;
    font-style: normal;
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgb(190 217 243) !important;
}
nav {
    box-shadow:0 2px 2px;
}

a{
    text-decoration: none;
    color: black;
}

/*Navbar styles with dropdown toggle*/
nav ul {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    list-style-type: none;
}

.nav-toggle-label{
    margin-right: 15px;
}

#nav-toggle:checked~#menu {
    display: block;
    background-color: rgb(190 217 243);
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.nav-toggle-label i {
    color: #393636;
}

footer {
    background-color: rgb(190 217 243);
}