@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Kaushan+Script&family=Shadows+Into+Light&display=swap');

.logo {
    font-family: "Italiana", serif;
    font-weight: 400;
    font-style: normal;
}

nav {
    box-shadow:0 2px 2px;
}

a{
    text-decoration: none;
    color: black;
}

/*Navbar styles with dropdown toggle*/
nav ul {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    display: none;
    top: 100%;
    color: #ffffff;
}

#nav-toggle:checked~#menu {
    display: block;
    background-color: #ffffff;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

.nav-toggle-label i {
    color: #1a1919;
}
