{% extends "base.html" %} {% block content %} {% load static %}

<!-- Homepage background image -->
<div class="home-backg">
  <!-- Radial gradient background to improve user experience and accessibility -->
  <div class="home-cover">
    <div class="intro">
      <div class="intro-cover-text">
        <!-- User authentication message -->
        {% if user.is_authenticated %}
        <p id="auth"><i class="fa-regular fa-user"></i> {{ user }}</p>
        {% else %}
        <p id="auth">You are not logged in</p>
        {% endif %}
        <!-- Homepage Content -->

        <h1>THE MEDITERRANEAN IN THE HEART OF LONDON</h1>
        <div class="menu-booking-buttons">
          <button><a href="{% url 'menu' %}">Menus</a></button>
          <button>
            <a href="{% url 'reservations' %}" class="active"
              >Reserve a Table</a
            >
          </button>
        </div>
        <div class="intro1">
          <p class="introp1">
            An authentic Italian Riviera restaurant, nestled in the glamourous
            Mayfair district of London, just minutes from Buckingham Palace and
            Piccadilly Circus. Your corner of the Mediterranean sea awaits you
            in one of the city's most vibrant neighbourhoods.
            <a href="{% url 'mission' %}" class="active">
              Discover more <i class="fa-solid fa-circle-arrow-right"></i>
            </a>
          </p>
          <span class="intro-img1">
            <img
              src="{% static 'img/website/homepage/homepage-dish.jpeg' %}"
              alt="restaurant-image"
            />
          </span>
        </div>
      </div>
    </div>
    <div class="intro2">
      <h2>WHERE ATMOSPHERE MEETS ELEGANCE</h2>
      <p class="introp2">
        Hospitality is at the heart of everything we do. Our dining space was
        designed to bring to life a refined, welcoming environment where guests
        feel truly at ease. The ambiance is intimate and warm, ideal for any
        occasion, and especially for those moments when you simply want to enjoy
        a great meal. Click <a href="{% url 'add-reservation' %}">here</a> to
        reserve your table.
      </p>
      <span class="intro-img2">
        <img
          src="{% static 'img/website/homepage/restaurant2.jpeg' %}"
          alt="-image"
        />
      </span>
    </div>

    <!-- Location open times and contact informations -->
    <div class="address">
      <p>Sapore Di Mare Restaurant</p>
      <hr />
      <p>22 Queen Street, W1J 5HN, London</p>
    </div>
    <div class="open-map">
      <div class="map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.338046366249!2d-0.14968082421059165!3d51.50701387181327!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876052f2a0856e3%3A0xa83359d375e7b01a!2s22%20Queen%20St%2C%20London%20W1J%205HN!5e0!3m2!1sen!2suk!4v1736170597054!5m2!1sen!2suk"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          title="restaurant-location"
        ></iframe>
      </div>
      <div class="open-times">
        <span class="open">
          <h2>OPENING TIMES:</h2>
          <h5>MON - FRI</h5>
          <p>Lunch: 12.00pm till 3.00pm</p>
          <p>Dinner: 6.00pm till 11.00pm</p>
          <h5>SATURDAY</h5>
          <p>Lunch: 12.00pm till 3.00pm</p>
          <p>Dinner: 5.00pm till 12.00am</p>
          <h5>SUNDAY</h5>
          <p>Lunch: 12.00pm till 5.00pm</p>
          <p>Closed for dinner service</p>
        </span>
        <hr />
        <div class="contacts">
          <h2>CONTACTS:</h2>
          <div class="phone-num">
            <p><i class="fa-solid fa-phone"></i> : 07435205407</p>
            <p>
              <i class="fa-solid fa-envelope"></i> :
              saporedm.restaurant@gmail.com
            </p>
          </div>
          <!-- Social Media Icons -->
          <div class="socials">
            <a
              href="https://en-gb.facebook.com/"
              target="_blank"
              rel="noopener"
              aria-label="facebook-icon"
              ><i class="fa-brands fa-facebook-f"></i
            ></a>
            <a
              href="https://www.instagram.com/"
              target="_blank"
              rel="noopener"
              aria-label="insta-icon"
              ><i class="fa-brands fa-instagram"></i
            ></a>
            <a
              href="https://www.tripadvisor.com/"
              target="_blank"
              rel="noopener"
              aria-label="trip-icon"
              ><img src="{% static 'img/icons/tripadvisor.png' %}" alt="trip"
            /></a>
            <a
              href="https://guide.michelin.com/"
              target="_blank"
              rel="noopener"
              aria-label="michelin-icon"
              ><img
                src="{% static 'img/icons/michelin.png' %}"
                alt="michelin-icon"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
