{% extends "base.html" %}
{% block content %}
{% load static %}


<main>
    <div>
        <h1>The Mediterranean In The Heart Of London</h1>
        <p>A typical Italian Riviera restaurant, minutes from Buckingham Palace and Piccadilly Circus.
            Located in the glamourous Mayfair district of London, Sapore di Mare has a long history of
            making feel his guests as dining in some of the best fish-based restaurants in the Mediterranean.
            His founder the Michelin Star Chef Alessandro Todalo is known for seeking perfection,
            from fish and seafood served, delivered daily to ensure freshness and quality, to the dishes that compose
            the menu selection,
            resulting with a mix of some great classics of Italian cuisine, to more globalise fusion concept
            suggestions.
        </p>
    </div>

</main>

{% endblock %}