{% extends "base.html" %}
{% load static %}
{% block menupreview %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menus</title>
</head>

<body>
    {% for menu in menu_list %}
    <a href="{% url 'menu_detail' menu.slug %}" class="menu-link">
        <h2 class="menu-title">{{% menu.title %}}</h2>
        <p class="menu-ex">{{% menu.excerpt %}}</p></a>
    {% endfor %}
</body>

</html>

{% endblock menupreview %}