{% extends "base.html" %} {% block content %} {% load static %}

<section class="mission">
  <div class="mission-txt">
    <h2
      data-aos="fade-in"
      data-aos-duration="1200"
      data-aos-easing="ease-in-out"
    >
      OUR PHILOSOPHY SINCE 1999
    </h2>
    <div class="missionp1">
      <p
        data-aos="fade-up"
        data-aos-delay="200"
        data-aos-duration="1200"
        data-aos-easing="ease-in-out"
      >
        Since our opening in 1999, Sapore Di Mare has built a long-standing
        tradition of making our guests feel as dining in some of the finest
        seafood restaurants in the Mediterranean.
      </p>
      <div class="img-layout">
        <span
          class="mission-img1"
          data-aos="fade-up"
          data-aos-delay="400"
          data-aos-duration="1200"
          data-aos-easing="ease-in-out"
        >
          <img
            src="{% static 'img/website/mission/linguina.jpeg' %}"
            alt="linguina-image"
          />
        </span>
        <span
          data-aos="fade-up"
          data-aos-delay="800"
          data-aos-duration="1200"
          data-aos-easing="ease-in-out"
        >
          <img
            src="{% static 'img/website/mission/lobster.jpeg' %}"
            alt="lobster-image"
          />
        </span>
        <span
          data-aos="fade-up"
          data-aos-delay="1000"
          data-aos-duration="1200"
          data-aos-easing="ease-in-out"
        >
          <img
            src="{% static 'img/website/mission/fish.jpeg' %}"
            alt="fish-image"
          />
        </span>
      </div>
    </div>
    <div class="missionp2">
      <div
        class="review"
        data-aos="fade-in"
        data-aos-delay="400"
        data-aos-duration="1200"
        data-aos-easing="ease-in-out"
      >
        <h3>
          <i class="fa-solid fa-quote-left"></i> A MIX OF TRADITION AND
          INNOVATION, ALL CRAFTED USING SOME OF THE FINEST QUALITY INGREDIENTS
          I'VE EVER SEEN <i class="fa-solid fa-quote-right"></i>
        </h3>
        <p>George Goddhart, food writer for Exelchef Journal</p>
      </div>
      <div class="img-layout2">
        <span
          class="mission-img2"
          data-aos="fade-in"
          data-aos-delay="200"
          data-aos-duration="1200"
          data-aos-easing="ease-in-out"
        >
          <img
            src="{% static 'img/website/mission/tartare.jpeg' %}"
            alt="chef-image"
          />
        </span>
        <span
          class="mission-img3"
          data-aos="fade-in"
          data-aos-delay="300"
          data-aos-duration="1200"
          data-aos-easing="ease-in-out"
        >
          <img
            src="{% static 'img/website/mission/scampi.jpeg' %}"
            alt="chef-image"
          />
        </span>
      </div>
      <div class="chef-p-img">
        <div class="chef-p">
          <p
            data-aos="fade-up"
            data-aos-delay="400"
            data-aos-duration="1200"
            data-aos-easing="ease-in-out"
          >
            Our founder the Michelin-starred chef Alessandro Todalo, is known
            for relentless pursuit of perfection. Every dish is crafted with the
            freshest fish and seafood, delivered daily to guarantee premium
            quality. The menu blends timeless Italian classics with globally
            inspired fusion creations, the result of a lifetime of culinary
            expertise.
          </p>
        </div>
        <div class="chef-images">
          <span class="mission-img4">
            <img
              src="{% static 'img/website/homepage/chef.jpeg' %}"
              alt="chef-image"
            />
          </span>
          <span class="mission-img5">
            <img
              src="{% static 'img/website/mission/chef2.jpeg' %}"
              alt="chef-image-cooking"
            />
          </span>
        </div>
      </div>
      <div
        class="visit"
        data-aos="fade-in"
        data-aos-delay="200"
        data-aos-duration="1200"
        data-aos-easing="ease-in-out"
      >
        <h3>
          COME TO VISIT US AND DISCOVER THE MEDITERRANEAN IN THE HEART OF
          LONDON.
        </h3>
        <p>
          <a href="{% url 'reservations' %}"
            >Reserve your table <i class="fa-solid fa-circle-arrow-right"></i
          ></a>
        </p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
