{% extends "base.html" %} {% block content %} {% load static %}

<section class="mission">
  <div>
    <h2>Our Mission</h2>
    <p>
      Since the opening in 1999, here at Sapore Di Mare we have a long history
      of making feel our guests as dining in some of the best fish-based
      restaurants in the Mediterranean.
    </p>
    <p>
      His founder the Michelin star chef Alessandro Todalo is known for seeking
      perfection, from fish and seafood served, delivered daily to ensure
      freshness and quality, to the dishes that compose the menu selection,
      resulting with a mix of some great classics of Italian cuisine, to more
      globalised fusion concept suggestions. Come to visit us and discover the
      Mediterranean in the heart of London.
    </p>
  </div>
</section>

{% endblock %}
