.home-backg {
  background: url(/static/mobile-home.webp) no-repeat center center/cover;
  height: 100%;
}

.home-cover {
  background: radial-gradient(#000, #000000c3) center / cover;
  height: 100%;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
}

a {
  text-decoration: none !important;
  color: #b97309;
}

.logo {
  font-family: "Italiana", serif;
  font-size: 2.7rem;
  font-style: normal;
  padding-left: 10px;
  color: #fff;
  text-decoration: none;
}

.intro {
  color: #b97309;
  text-align: center;
  margin-top: 0;
}

.bg-light {
  --bs-bg-opacity: 1;
  background-color: rgb(6, 41, 74) !important;
}

nav {
  box-shadow: 0 2px 2px;
}

hr {
  margin: 2px 0;
  color: #b97309;
  opacity: initial;
}

main {
  background-color: #050822;
  color: #b97309;
}

body {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/*Navbar styles with dropdown toggle*/
#menu {
  position: absolute;
  width: 100%;
  left: 0;
  padding: 0 1rem;
  margin-bottom: 5px;
  display: none;
  top: 100%;
  list-style-type: none;
  text-align: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: #b97309;
  z-index: 100;
}

.nav-toggle-label {
  margin-right: 15px;
}

#nav-toggle:checked~#menu {
  display: block;
  background-color: rgb(6, 41, 74);
}

#nav-toggle {
  display: none;
}

.nav-toggle-label {
  font-size: 2rem;
}

.nav-toggle-label i {
  color: #b97309;
}

img {
  max-width: 100%;
  width: 100%;
}

#auth {
  font-size: 0.8rem;
  color: #b97309;
  text-align: end;
  margin-right: 10px;
  padding-top: 90px;
}

.introp2 a {
  text-decoration: underline !important;
}

.map iframe {
  width: 100%;
}

.address {
  padding: 15px 0 15px 0;
}

.address p {
  margin-bottom: 0;
  padding-top: 5px;
  text-align: center;
}

.open-times {
  text-align: center;
}

.open-times p {
  margin-bottom: 0;
  padding-bottom: 5px;
}

footer {
  color: #b97309;
  text-align: center;
  min-height: 8vh;
  background-color: rgb(6, 41, 74);
}

footer p {
  font-size: 1.2rem;
  padding: 15px 8px 15px 8px;
  margin-bottom: 0;
}

.socials {
  font-size: 1.2rem;
}

.socials i {
  font-size: 1.2rem;
  padding-left: 5px;
  padding-top: 2px;
  text-align: center;
}

.phone-num i {
  padding-right: 2px;
}

/*Authentication Pages Styles*/

.cover {
  background: radial-gradient(#000, #000000b8) center / cover;
  height: 100%;
}

.container-lgt {
  height: 100vh;
  background: url(/static/logout.webp) no-repeat center center/cover;
  padding: 0;
  text-align: center;
}

#sign-out {
  padding-top: 200px;
}

.container-lgn {
  background: url(/static/login.webp) no-repeat center center/cover;
  text-align: center;
  font-size: 1.3rem;
  height: 100vh;
}

#login-cover {
  padding-top: 100px;
}

#login-cover p {
  padding: 0 5px
}


.container-snp {
  text-align: center;
  font-size: 0.8rem;
  background: url(/static/register.webp) no-repeat center center/cover;
}

.container-snp p {
  padding: 0 15px;
}

.container-snp ul {
  list-style-type: none;
}

#signup-block {
  padding-top: 120px;
  height: 100vh;
}

.btn-signup {
  background: #050822;
  color: #b97309;
  margin-bottom: 10px;
}

#reset-container {
  height: 100vh;
  background: url(/static/reset.webp) no-repeat center center/cover;
  padding: 0;
  overflow: hidden;
}

.reset-cover {
  background: radial-gradient(#000, #000000b8) center / cover;
  height: 100%;
  padding-top: 150px;
  text-align:center;
}

.reset-cover p {
  padding: 5px;
}

/*Menu List Page*/

.cover-text {
  background: radial-gradient(#000, #000000b8) center / cover;
  height: 30vh;
}

.menu-list {
  margin-top: 70px;
}

.menu-list h2 {
  margin-bottom: 0;
  font-size: 1.7rem;
}

.wine-list {
  background: url(/static/winelist.webp) no-repeat center center/cover;
  height: 30vh;

}

.carte-list {
  background: url(/static/cartelist.webp) no-repeat center center/cover;
  height: 30vh;
}

.dessert-list {
  background: url(/static/dessertlist.webp) no-repeat center center/cover;
  height: 30vh;

}

.menu-description {
  padding: 30px 5px 5px 0;
  text-align: center;

}

.menu-list p {
  margin-bottom: 0;
}

.menu-ex {
  margin-bottom: 0;
  font-size: 1.2rem;
}

/* Menu Page Styles*/

.menu {
  color: #b97309;
}

.cover-menu {
  height: 100%;
  background: radial-gradient(black, #000000a6);
  padding-top: 80px;
}

.wine-menu {
  background: url(/static/winemenu.webp) no-repeat center center/cover;
  height: 100%;
}

.carte-menu {
  background: url(/static/cartemenu.webp) no-repeat center center/cover;
  height: 100%;
}

.dessert-menu {
  background: url(/static/dessertmenu.webp) no-repeat center center/cover;
  height: 100vh;
}

.menu span {
  color: #b97309;
}

.menu div {
  margin-bottom: 0;
  color: #b97309 !important;
  font-family: "Raleway", serif !important;
  text-align: center;
}

.menu i {
  color: #b97309;
}

.menu-page-title {
  text-align: center;
}

.menu hr {
  padding-top: 2px;
}

.menu p {
  margin-bottom: 0;
  color: #b97309 !important;
  font-family: "Raleway", serif !important;
  text-align: center;
}

/*Booking Page Styles*/

#bkn-img {
  background: url("/static/table.webp") no-repeat center center/cover;
  height: 100vh;
  padding: 0;
  overflow: hidden;
}

.no-reserve {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 100px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 150px;
}

.reserve-btn {
  color: #b97309;
  background: #050822;
  margin: 10px 0 0 15px;

}

.book-cover-text {
  background: radial-gradient(#000, #000000b8);
  height: 100vh;
  overflow: hidden;
}

#bkn-form {
  margin-top: 150px;
  padding: 0 10px;
}

.card {
  margin: 0 5px 0 5px;
  background: #050822;
  color: #b97309;
  border: #b97309;
  border-style: groove;
  text-align: center;
}

.col h1 {
  text-align: center;
}

#active-r {
  margin-top: 100px;
}

#res-box {
  margin: auto;
}

#res-box a {
  color: #b97309;
  width: 60%;
  margin: auto;
}

#res-box ul {
  margin-bottom: 0;
}

#outer-active {
  margin: auto;
}

#outer-active p {
  padding-top: 150px;
  text-align: center;
  font-size: 1.5rem;
}

#outer-active a {
  color: #b97309;
}

#delete-card {
  margin: 100px 10px;
}

#delete-card a {
  color: #b97309;
}

#submitButton {
  background: #050822;
  color: #b97309;
}

#validation-btn {
  color: #b97309;
}

/*Messages*/

.text {
  width: 100%;
  font-size: 1.5rem;
}

.btn-close {
  color: #b97309;
}

.alert-dismissible {
  margin-top: 80px;
  margin-bottom: 0;
  background: radial-gradient(#000, #000000b8);
}

/*Media query for tablet screens (768px and up)*/
@media screen and (min-width:768px) {

  .container-snp {
    height: 92vh;
    font-size: 1.2rem;
  }

  #signup-block {
    overflow: hidden;
    padding-top: 150px;
  }

  .container-lgn {
    font-size: 1.5rem;
  }
  
  #login-cover {
    padding-top: 200px;
  }

  .reset-cover {
    font-size: 1.5rem;
    padding-top: 200px;
  }


}

/*Media query for laptops and larger screens (992px and up)*/
@media screen and (min-width:992px) {

  .home-backg {
    background: url(/static/homepage-backg.webp) no-repeat center center/cover;
    height: 100%;
  }

  .home-cover {
    background: radial-gradient(#000, #000000b8) center / cover;
    height: 100%;
  }

  #auth {
    padding-top: 90px;
    margin-bottom: 0px;
  }
  
  #menu {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: 100%;
    list-style-type: none;
    text-align: center;
    font-size: 1.5rem;
    text-decoration: none;
    color: #b97309;
    z-index: 100;
    position: relative;
    padding-top: 24px;
    margin-bottom: 0;
  }

  .nav-toggle-label {
    display: none;
  }

  .intro {
    text-align: center;
    margin-top: 15px;
  }

  .intro1 {
    display: flex;
  }

  .intro2 {
    display: flex;
  }

  .introp1 {
    width: 50%;
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 10px 0 10px;
  }

  .intro-img1 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .intro1 img {
    width: 100%;
  }

  .introp2 {
    width: 50%;
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
    padding: 0 10px 0 10px;
  }

  .intro-img2 {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  .intro2 img {
    width: 100%;
  }

  .address {
    font-size: 1.5rem;
    padding-top: 10px;
    width: 100%;
    text-align: center;
  }

  .open-map {
    display: flex;
  }

  .map {
    width: 50%;
  }

  .open-times {
    text-align: center;
    width: 50%;
    font-size: 1.5rem;
    margin-top: auto;
    margin-bottom: auto;
  }

  .socials {
    font-size: 1.5rem;
  }

  .socials i {
    font-size: 1.5rem;
    padding-left: 5px;
    padding-top: 2px;
  }

  footer p {
    font-size: 1.5rem;
  }

  .no-reserve {
    margin-top: 150px;
  }

  .container-snp {
    height: 92vh;
    font-size: 0.9rem;
  }

  #signup-block {
    overflow: hidden;
    padding-top: 70px;
  }

  .container-lgn {
    font-size: 1.3rem;
  }
  
  #login-cover {
    padding-top: 150px;
    overflow: hidden;
  }

}
/*Media query for large devices (992px and up)*/
@media screen and (min-width:1200px) {
  #menu {
    width: 50%;
  }

  #signup-block {
    overflow: hidden;
    padding-top: 85px;
  }
}