{% extends "base.html" %}
{% block content %}

<div class="container-fluid gx-5" id="bkn-img">
    <div class="book-cover-text">
        <!--Reservations displayed here-->
        <div class="row gy-5" id="outer-active">
            {% if user.is_authenticated %}
            <!-- Checks user is logged in-->
            {% for reservation in user.reservation_list.all %}
            {% if user == reservation.reservation_booked_by %}
            <!-- Displays all reservations the user has made. -->
            <div class=".container-fluid">
                <div class="row" id="active-r">
                    <div class="col">
                        <h1>Your active reservations:</h1>
                    </div>
                </div>
            </div>
            <div class="col-md-4 gx-5" id="res-box">
                <div class="card row">
                    <div class="card-body reservation-card">
                        <ul class="row list-unstyled">
                            <li class="col-sm-6 text">{{reservation.reservation_date}}</li>
                            <li class="col-sm-6 text">{{reservation.reservation_time}}</li>
                            <li class="col-sm-6 text">Name: {{reservation.reservation_name}}</li>
                            <li class="col-sm-6 text">Seats: {{reservation.number_of_guests}}</li>
                        </ul>
                        <hr>
                        <div class="row">
                            <a href="../delete/{{reservation.id}}"
                                class="btn btn-lg col-md-6 reservation-card-btn">Delete
                                Reservation</a>
                            <a href="../edit/{{reservation.id}}" class="btn btn-lg col-md-6 reservation-card-btn">Edit
                                Reservation</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% empty %}
            <div class="no-reserve">
                <p>You have no reservations yet.<a href="{% url 'add-reservation' %}"
                        class="btn btn-lg col-md-6 reserve-btn">Reserve A
                        Table</a>
                </p>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-md-4 gx-5">
                {% else %}
                <!--This message is displayed if the user isn't logged in -->
                <p>You are not logged in.
                    Please <a rel="stylesheet" href="{% url 'account_login' %}" class="btn sign-up-btn">
                        Login</a>or
                    <a rel="stylesheet" href="{% url 'account_signup' %}" class="btn sign-up-btn">Sign
                        up</a> to make a reservation or veiw existing reservations.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}